# Database Configuration
SEMANTIC_TRANSLATOR_DB_DIALECT=postgresql
SEMANTIC_TRANSLATOR_DB_HOST="localhost"
SEMANTIC_TRANSLATOR_DB_PORT=5432
SEMANTIC_TRANSLATOR_DB_NAME=database_name
SEMANTIC_TRANSLATOR_DB_SCHEMA=semantic_translator
SEMANTIC_TRANSLATOR_DB_USER="database_user"
SEMANTIC_TRANSLATOR_DB_PASSWORD="database_password"
