name: textx
channels:
  - defaults
dependencies:
  - pydantic
  - pytest
  - click
  - flask-cors
  - pip
  - python=3.10
  - flask
  - ipykernel
  - black
  - networkx
prefix: /home/kaiser185/anaconda3/envs/textx
