name: textx
channels:
  - conda-forge
  - defaults
dependencies:
  - _libgcc_mutex=0.1
  - _openmp_mutex=5.1
  - asttokens=2.0.5
  - attrs=22.1.0
  - backcall=0.2.0
  - black=22.6.0
  - bzip2=1.0.8
  - ca-certificates=2022.12.7
  - certifi=2022.12.7
  - click=8.0.4
  - debugpy=1.5.1
  - decorator=5.1.1
  - entrypoints=0.4
  - executing=0.8.3
  - flask=2.2.2
  - flask-cors=3.0.10
  - flit-core=3.6.0
  - iniconfig=1.1.1
  - ipykernel=6.17.0
  - ipython=8.7.0
  - itsdangerous=2.0.1
  - jedi=0.18.1
  - jinja2=3.1.2
  - jupyter_client=7.4.8
  - jupyter_core=5.1.1
  - ld_impl_linux-64=2.38
  - libffi=3.3
  - libgcc-ng=11.2.0
  - libgomp=11.2.0
  - libsodium=1.0.18
  - libstdcxx-ng=11.2.0
  - libuuid=1.41.5
  - markupsafe=2.1.1
  - matplotlib-inline=0.1.6
  - mypy_extensions=0.4.3
  - ncurses=6.3
  - nest-asyncio=1.5.6
  - networkx=3.0
  - openssl=1.1.1s
  - packaging=22.0
  - parso=0.8.3
  - pathspec=0.9.0
  - pexpect=4.8.0
  - pickleshare=0.7.5
  - pip=22.2.2
  - platformdirs=2.5.2
  - pluggy=1.0.0
  - prompt-toolkit=3.0.36
  - psutil=5.9.0
  - ptyprocess=0.7.0
  - pure_eval=0.2.2
  - py=1.11.0
  - pydantic=1.10.2
  - pygments=2.11.2
  - pytest=7.1.2
  - python=3.10.6
  - python-dateutil=2.8.2
  - pyzmq=23.2.0
  - readline=8.2
  - setuptools=65.6.3
  - six=1.16.0
  - sqlite=3.40.1
  - stack_data=0.2.0
  - tk=8.6.12
  - tomli=2.0.1
  - tornado=6.2
  - traitlets=5.7.1
  - typing-extensions=4.4.0
  - typing_extensions=4.4.0
  - tzdata=2022g
  - wcwidth=0.2.5
  - werkzeug=2.2.2
  - wheel=0.37.1
  - xz=5.2.10
  - zeromq=4.3.4
  - zlib=1.2.13
  - pip:
    - arpeggio==2.0.0
    - flake8==5.0.4
    - future==0.18.2
    - mccabe==0.7.0
    - minizinc==0.7.0
    - pycodestyle==2.9.1
    - pyflakes==2.5.0
    - pyhumps==3.8.0
    - swiplserver==1.0.2
    - textx==3.0.0
prefix: /home/kaiser185/anaconda3/envs/textx
